# Spring Profile
SPRING_PROFILE=dev

# PostgreSQL Database Configuration
POSTGRES_DB=dkdk
POSTGRES_USER=dkdk
POSTGRES_PASSWORD=

# Application Database Connection
DB_USERNAME=dkdk
DB_PASSWORD=

# Kakao book API
KAKAO_API_KEY=
KAKAO_API_BASE_URL=